:root {
  --cbm-color-brand: #00c776;
  --cbm-color-brand-100: #00914c;
  --cbm-color-brand-200: #00a056;
  --cbm-color-brand-300: #00ae64;
  --cbm-color-brand-400: #00d684;
  --cbm-color-brand-500: #00e08b;
  --cbm-color-brand-600: #00f6ad;
  --cbm-color-brand-700: #e6fff3;
  --cbm-color-secondary: #2578ff;
  --cbm-color-secondary-100: #0f70ff;
  --cbm-color-secondary-200: #4087ff;
  --cbm-color-secondary-300: #5c99ff;
  --cbm-color-secondary-400: #70a7ff;
  --cbm-color-secondary-500: #8fbbff;
  --cbm-color-secondary-600: #c1daff;
  --cbm-color-secondary-700: #f0f6ff;
  --cbm-color-alert: #ff5e37;
  --cbm-color-gray-900: #464646;
  --cbm-color-gray-800: #545454;
  --cbm-color-gray-700: #656565;
  --cbm-color-gray-600: #727272;
  --cbm-color-gray-500: #787878;
  --cbm-color-gray-300: #c5c5c5;
  --cbm-color-gray-200: #e0e0e0;
  --cbm-color-light-100: #f1f1f1;
  --cbm-color-light-50: #fafafa;
  --cbm-color-light-0: #ffffff;
  --cbm-color-notes-pink: #ff56da;
  --cbm-color-white: #ffffff;
  --cbm-color-emerald-500: #10b981;

  /* theme variables */
  --cbm-radius: 0.625rem;
  --cbm-background: var(--cbm-color-light-0);
  --cbm-foreground: var(--cbm-color-gray-900);
  --cbm-card: var(--cbm-color-light-0);
  --cbm-card-foreground: var(--cbm-color-gray-900);
  --cbm-popover: var(--cbm-color-light-0);
  --cbm-popover-foreground: var(--cbm-color-gray-900);
  --cbm-primary: var(--cbm-color-brand);
  --cbm-primary-foreground: var(--cbm-color-light-0);
  --cbm-secondary: var(--cbm-color-secondary);
  --cbm-secondary-foreground: var(--cbm-color-light-0);
  --cbm-muted: var(--cbm-color-light-100);
  --cbm-muted-foreground: var(--cbm-color-gray-700);
  --cbm-accent: var(--cbm-color-secondary);
  --cbm-accent-foreground: var(--cbm-color-light-0);
  --cbm-destructive: var(--cbm-color-alert);
  --cbm-destructive-foreground: var(--cbm-color-light-0);
  --cbm-border: var(--cbm-color-gray-200);
  --cbm-input: var(--cbm-color-gray-300);
  --cbm-ring: var(--cbm-color-brand);
  --cbm-chart-1: oklch(0.646 0.222 41.116);
  --cbm-chart-2: oklch(0.6 0.118 184.704);
  --cbm-chart-3: oklch(0.398 0.07 227.392);
  --cbm-chart-4: oklch(0.828 0.189 84.429);
  --cbm-chart-5: oklch(0.769 0.188 70.08);
  --cbm-sidebar: oklch(0.985 0 0);
  --cbm-sidebar-foreground: oklch(0.141 0.005 285.823);
  --cbm-sidebar-primary: oklch(0.21 0.006 285.885);
  --cbm-sidebar-primary-foreground: oklch(0.985 0 0);
  --cbm-sidebar-accent: oklch(0.967 0.001 286.375);
  --cbm-sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --cbm-sidebar-border: oklch(0.92 0.004 286.32);
  --cbm-sidebar-ring: oklch(0.871 0.006 286.286);
}

.dark {
  --cbm-background: var(--cbm-color-gray-900);
  --cbm-foreground: var(--cbm-color-light-0);
  --cbm-card: var(--cbm-color-gray-900);
  --cbm-card-foreground: var(--cbm-color-light-0);
  --cbm-popover: var(--cbm-color-gray-900);
  --cbm-popover-foreground: var(--cbm-color-light-0);
  --cbm-primary: var(--cbm-color-brand);
  --cbm-primary-foreground: var(--cbm-color-light-0);
  --cbm-secondary: var(--cbm-color-secondary);
  --cbm-secondary-foreground: var(--cbm-color-light-0);
  --cbm-muted: var(--cbm-color-gray-800);
  --cbm-muted-foreground: var(--cbm-color-gray-200);
  --cbm-accent: var(--cbm-color-secondary);
  --cbm-accent-foreground: var(--cbm-color-light-0);
  --cbm-destructive: var(--cbm-color-alert);
  --cbm-destructive-foreground: var(--cbm-color-light-0);
  --cbm-border: var(--cbm-color-gray-800);
  --cbm-input: var(--cbm-color-gray-800);
  --cbm-ring: var(--cbm-color-brand);
  --cbm-chart-1: oklch(0.488 0.243 264.376);
  --cbm-chart-2: oklch(0.696 0.17 162.48);
  --cbm-chart-3: oklch(0.769 0.188 70.08);
  --cbm-chart-4: oklch(0.627 0.265 303.9);
  --cbm-chart-5: oklch(0.645 0.246 16.439);
  --cbm-sidebar: oklch(0.205 0 0);
  --cbm-sidebar-foreground: oklch(0.985 0 0);
  --cbm-sidebar-primary: oklch(0.488 0.243 264.376);
  --cbm-sidebar-primary-foreground: oklch(0.985 0 0);
  --cbm-sidebar-accent: oklch(0.269 0 0);
  --cbm-sidebar-accent-foreground: oklch(0.985 0 0);
  --cbm-sidebar-border: oklch(0.274 0.006 286.033);
  --cbm-sidebar-ring: oklch(0.442 0.017 285.786);
}
